#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  
  #game-status {
    margin-top: 10px;
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 113px;
  }

  h1 {
    margin-left: 75px;
  }
  